<!-- Offcanvas Menu Begin -->
{% load static %}
{% load i18n %}
{% load mytags %}
<!-- Offcanvas Menu End -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="#">Sign in</a>

                        </div>
                        <div class="header__top__hover">
                            {% get_current_language as lang %}
                            {% get_available_languages as langs %}
                            <span class="p-1" >{{ lang }}<i class="arrow_carrot-down"></i></span>
                            <ul>
                                {% for l in langs %}
                                {% if l.0 != lang %}
                                <li>
                                    <a href="/{{ l.0 }}">{{ l.0|upper }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{% url 'pages:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'pages:home' %}">Home</a></li>
                        <li><a href="{% url 'product:shop' %}">Shop</a></li>
                        <li><a href="{% url 'pages:about' %}">About</a>
                        <li><a href="{% url 'post:block' %}">Blog</a></li>
                        <li><a href="{% url 'pages:contact' %}">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="img/icon/heart.png" alt=""></a>
                    <a href="#"><img src="img/icon/cart.png" alt=""> <span></span></a>

                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
